h1{
  font-family: 'Anton', sans-serif;
  font-size: 80px;
  font-weight: bold;
  font-stretch: expanded;
  text-align: center;
}

h2{
  font-size: 50px;
  font-weight: bold;
  font-variant: small-caps;
}

h3{
  font-size: 30px;
}

.main{
  width: 80%;
  margin: auto;

}
.heading{
  align-items: center;
  background-color: yellow;
  padding:20px;
}

.headline{
  padding: 10px;
  font-family: 'Merriweather', serif;

}

.article{
  padding:10px;

}

.others{
  background-color: grey;
  padding:30px;
}

p{
  font-size: 20px;
}

ul{
  font-size: 20px;
}
